:root {
    --color-uvic-vermell: #cf0a2c; 
    --color-text-fosc: #333;
    --color-fons-clar: #f0f0f0;
    --ample-maxim-contingut: 1000px; 
}

main {
    max-width: var(--ample-maxim-contingut);
    margin: 40px auto;
    padding: 0 20px;
    min-height: 80vh; 
}


.titol-seccio {
    text-align: center;
    color: var(--color-uvic-vermell);
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--color-fons-clar);
    padding-bottom: 20px;
}

.subsection {
    margin-bottom: 60px;
}

.subsection h2 {
    font-size: 1.8em;
    color: var(--color-text-fosc);
    margin-bottom: 30px;
    border-left: 5px solid var(--color-uvic-vermell);
    padding-left: 15px;
}


.team-grid {
    display: flex;
    flex-wrap: wrap;         
    justify-content: center; 
    
    gap: 15px;               
}

.member {
    width: 210px;            
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.member:hover {
    transform: translateY(-5px); 
}


.member > img {
    width: 150px;
    height: 180px;
    object-fit: cover;       
    border-radius: 20%;
    border: 4px solid var(--color-uvic-vermell);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 15px;
    background-color: white;
}


.member-info h3 {
    font-size: 1.15em; 
    margin: 10px 0 5px 0;
    color: #000;
    font-weight: bold;
}

.member-info p {
    font-size: 0.9em;
    color: #666;
    font-style: italic;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-top: 15px;
    padding: 0;
}

.social-icons a {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    
    width: 25px;  
    height: 25px; 
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-icons img {
    width: 100%;
    height: 100%;
    
    object-fit: contain;     
    
    display: block;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease;
}


.social-icons a:hover {
    transform: scale(1.15); 
}

.social-icons a:hover img {
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer;
}


.icono-correo {

    margin-bottom: -1.5px; 
    position: relative; 
}

@media (max-width: 600px) {
    .team-grid {
        gap: 30px;
    }
    .member {
        width: 100%;
        max-width: 300px;
    }
}