
:root {
    --color-uvic-vermell: #cf0a2c; 
    --color-text-fosc: #333;
    --color-fons-clar: #f0f0f0;
    --ample-maxim-contingut: 1000px; 
}

main {
    max-width: var(--ample-maxim-contingut);
    margin: 40px auto;
    padding: 0 20px;
    min-height: 80vh; 
}

.titol-seccio {
    text-align: center;
    color: var(--color-uvic-vermell);
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--color-fons-clar);
    padding-bottom: 20px;
}

.subtitol-patrocini {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 30px;
    font-weight: normal;
}

.text-intro p {
    font-size: 1.05em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

.marquee-wrapper {
    margin-top: 60px;
    width: 100%;
    height: 600px; 
    overflow: hidden; 
    position: relative;
    background-color: #ffffff; 
    border-radius: 10px;

    mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 85%, transparent);
}

.marquee-container {
    display: flex;
    justify-content: space-around; 
    height: 100%;
    gap: 15px; 
    padding: 0 10px;
}

.marquee-column {
    display: flex;
    flex-direction: column;
    

    width: 22%; 
    gap: 25px;  
}


.marquee-column img {
    width: 100%;
    height: auto;
    object-fit: contain; 
    background: white;
    
    padding: 10px; 
    
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.marquee-column img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    cursor: pointer;
}


.scroll-up {
    animation: scrollUp 25s linear infinite;
}

.scroll-down {
    animation: scrollDown 25s linear infinite;
}

@keyframes scrollUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

@keyframes scrollDown {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(0); }
}


@media (max-width: 850px) {

    .marquee-column {
        width: 45%; 
    }

}